<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/faculty/">Faculty</a> / <a href="/participants/">Participants</a></li>
          <li><a href="/communications/">Contact Us!</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
    </div>

    <div class="footer-col-wrapper">
      {% include footer_logo.html target='logo-UF.svg' %}
      {% include footer_logo.html target='logo-africom.png' alt='USAFRICOM' %}
      {% include footer_logo.html target='logo-AIMS.png' alt='AIMS South Africa' %}
      {% include footer_logo.html target='logo-humboldt.png' alt='Humboldt Foundation' %}
      {% include footer_logo.html target='logo-SACEMA.svg' alt='SACEMA' %}
    </div>

  </div>
</footer>
